* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font of the website */
body {
  font-family: Arial, sans-serif;
}

/* Hero Section */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* image in background */
.hero_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Content inside hero */
.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.4rem;
  margin-bottom: 25px;
}

/* Buttons */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 16px 28px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
}

/* Primary Button */
.primary-btn {
  background-color: #ff6b00;
  color: white;
}

.primary-btn:hover {
  background-color: #e55a00;
}

/* Secondary Button */
.secondary-btn {
  border: 2px solid #fff;
  color: #fff;
}

.secondary-btn:hover {
  background-color: #fff;
  color: #000;
}

/* Activities Section */
.activities {
  padding: 80px 20px;
  text-align: center;
  background: #050101ed;
}

.activities h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #f8fafc;
}

.activities p {
  max-width: 600px;
  margin: 0 auto 30px;
  color: #cbd5f5;
}

/* Slider */
.slider {
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Slide */
.slide {
  display: none;
  position: relative;
}

.slide.active {
  display: block;
}

/* Image */
.slide img {
  width: 100%;
  height: 900px;
  object-fit: cover;
  border-radius: 16px;
}

/* Content */
.slide-content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  padding: 20px;
  border-radius: 0 0 12px 12px;
}

.slide-content h3 {
  margin-bottom: 8px;
}

/* Buttons */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background: #ff6b00;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}
